//About.less
//   styles the About component (hero)

//imports
@import "variables.less";

/* Base styles for the container */
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  padding: 20px;

  &.light {
    color: @font-color-primary-light;
    background-color: #FF7D00;
  }

  &.dark {
    color: @font-color-primary-dark;
  }


  //make everything change smoothly
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Styles for responsive layout on mobile devices */
  @media (max-width: @screen-tablet) {
    flex-direction: column;
    height: 500px;
  }
}

/* Styles for the left section - Name, title, all that*/
.main-section {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}