//About.less
//   styles the About component (hero)

//imports
@import "variables.less";

/* Base styles for the container */
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;

  &.light {
    color: @font-color-primary-light;
  }

  &.dark {
    color: @font-color-primary-dark;
  }


  //make everything change smoothly
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Styles for responsive layout on mobile devices */
  @media (max-width: 767px) {
    flex-direction: column;
    height: auto;
  }
}

/* Styles for the left section - Name, title, all that*/
.left-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

/* Styles for the right section - maybe some fun flashy JS + CSS art */
.right-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
