//imports
@import "variables.less";

.experiences-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px;
  
    // Universal transition properties for all transitions
    transition: all 0.2s ease;
  
    &.light {
      color: #212529;
    }
  
    &.dark {
      color: #f8f9fa;
    }
  
    // Add any additional styles for the container
  }
  
  // Customize styles for the experience cards
  .experience-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px; // Set a maximum width for desktop view
  
    // Styles for responsive layout on mobile devices
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  
  .experience-card {
    flex: 0 0 calc(50% - 20px); // Three cards in a row for desktop view
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #e8e8e8;
    }
  
    // Light mode styles
    &.light {
      background-color: @background-card-light;
      color: @font-color-primary-light;
    }
  
    &.dark {
      background-color: @background-card-dark;
      color: @font-color-primary-dark;
    }
  
    // Styles for responsive layout on mobile devices
    @media (max-width: 767px) {
      width: 100%;
      margin: 10px 0;
    }
    
  }
  